# Compilados por el compilador de Java
*.class

# Carpetas generadas por Eclipse
/bin/
/.settings/
.classpath
.project

# Carpetas de herramientas de construcción
/target/
/build/

# Archivos de registro
*.log

# Archivos empaquetados
*.jar
*.war

# Ignorar las carpetas de configuración de IntelliJ
.idea/
*.iml
out/

# Ignorar las carpetas de compilación de Maven en cualquier subproyecto
**/target/

# Ignorar archivos temporales que genera el plugin de Maven
**/dependency-reduced-pom.xml
